<?xml version="1.0"?>
<model>
  <name>Spawn</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Stefano</name>
   <email>stefano.rizzi@studenti.unitn.it</email>
  </author>

  <description>
    E' un modello di riferimento per il levelManager su dove spawnare i lego
  </description>
</model>
